{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<!-- Nav -->
<center><img src="http://www.appligate.nl/images/applilogo.png"></center>
  {{nav.mynavbar.render()}}
{% endblock %}

{% block content %}
<div class="container">
  <h1>AppliGate Consultancy</h1>
  <p>RESTful Web Service applicaties is het terrein waar AppliGate in investeert, met name voor de zeer schaalbare omgeving van Google App Engine..</p>
  <p>De applicaties die AppliGate ontwikkelt draaien als Google App Engine Java application, hoewel ze aangepast kunnen worden voor elke JEE applicatie server.!</p>
  <p>Rob Bontekoe</p>
</div>
{% endblock %}
